*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.student{
    font-family: "Reggae One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.nav_item a{
    text-decoration: none;
}
.image{
    position: relative;
}
.image_text{
    position: absolute;
    width: 600px;
    height: 400px;
    background-color:black;
    opacity: 0.5;
    top: 55px;
    left: 20px;
}
.paragraph p{
    position: absolute;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    top: 180px;
    left: 29px;
}
.paragraph_two{
    position: absolute;
    font-size: 15px;
    color: aliceblue;
    top: 232px;
    left: 23px;
}
.submitbutton{
    position: absolute;
    top: 300px;
    left: 900px;
    background-color: #292929;
    width: 180px;
    height: 43px;
    border-radius: 0px;
    text-align: center;
    border: 0;
    color: aliceblue;
}
.submitbutton:hover{
transform: scale(1.1)
}
.navbar_down{
    position: absolute;
    text-align: center;
    
}
.downbar{
    background-color: dimgray;
    color: aliceblue;
    height: 60px;
}
#user{
    border-radius: 5px;
   
}
.id{
    font-size: 15px;
  
}
.ps{
    font-size: 15px;
   
}
#pass{
    border-radius: 5px;

}
.submit{
    font-size: 13px;
    width: 90px;
    height: 35px;
    text-align: center;
    position: relative;
    left: 20px;
    margin-bottom: 11px;
}
.autho{
    border: #292929;
    color: aliceblue;
}